<div class="w-full py-6 px-3  ">
    <div class="relative group">
        <a href="{{ product_product.url }}">
            {% if product_product.featured_image %}
                <div class="h-auto">
                    <img class="w-full h-full object-cover" src="{{ product_product.featured_image | img_url: 'medium' }}" alt="{{ product_product.featured_image.alt }}">
                </div>
                
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            {% endif %}
        </a>
        
        <div class="flex flex-col p-4 absolute bottom-0 left-[-30px]  ">
            <p class="text-gray-500 text-lg mb-1 ">{{ product_product.products_count }} products</p>
            <a href="{{ product_product.url }}" class=" text-3xl font-bold">{{ product_product.title }}</a>
            <div class=" w-0 h-[3px] bg-black transform -translate-y-1/2 opacity-0 transition-opacity duration-300 ease-in transition-width duration-1000 ease-in group-hover:opacity-100 group-hover:w-full"></div>
        </div>
        
    </div>
</div>