<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-8 rounded">

  <h1 class="font-bold text-2xl">
    {{ 'customer.reset_password.title' | t }}
  </h1>
  <p  class="font-bold text-lg sm:mt-2 mt-1 mb-1 sm:mb-2">
    {{ 'customer.reset_password.subtext' | t }}
  </p>
  {%- form 'reset_customer_password' -%}
  {%- if form.errors -%}
  <h2 class="" tabindex="-1" autofocus>
    <span class="">{{ 'accessibility.error' | t }} </span>
    {{ 'templates.contact.form.error_heading' | t }}
  </h2>
  <ul>
    {%- for field in form.errors -%}
    <li>
      {%- if field == 'form' -%}
      {{ form.errors.messages[field] }}
      {%- else -%}
      <a href="#{{ field }}">
        {{ form.errors.translated_fields[field] | capitalize }}
        {{ form.errors.messages[field] }}
      </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

  <div>
    <label for="password" class="block mb-2  font-semibold">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password" name="customer[password]" class="w-full p-2 mb-4 border-2 border-gray-300 " autocomplete="new-password" {% if form.errors
      contains 'password' %} aria-invalid="true" aria-describedby="password-error" {% endif %}>

    {%- if form.errors contains 'password' -%}
    <small>
      {{ form.errors.translated_fields.password | capitalize }}
      {{ form.errors.messages.password }}
    </small>
    {%- endif -%}
  </div>

  <div >
    <label for="password_confirmation" class="block mb-2  font-semibold">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>

    <input type="password" name="customer[password_confirmation]" class="w-full p-2 mb-4 border-2 border-gray-300 " autocomplete="new-password"
      {% if form.errors contains 'password_confirmation' %} aria-invalid="true"
      aria-describedby="password_confirmation-error" {% endif %}
      >
    
    {%- if form.errors contains 'password_confirmation' -%}
    <small>
      {{ form.errors.translated_fields.password_confirmation | capitalize }}
      {{ form.errors.messages.password_confirmation }}
    </small>
    {%- endif -%}
  </div>

  <button class="w-full text-white bg-black py-3 px-5 font-semibold">
    {{ 'customer.reset_password.submit' | t }}
  </button>
  {%- endform -%}
  </div>
</div>