<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md p-8 rounded">
        <h1>
            {{ 'customer.activate_account.title' | t }}
        </h1>
        <p>
            {{ 'customer.activate_account.subtext' | t }}
        </p>
        {%- form 'activate_customer_password' -%}
        {%- if form.errors -%}
        <h2 class="" autofocus>

            {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul>
            {%- for field in form.errors -%}
            <li>
                {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
                {%- else -%}
                <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                </a>
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
        {%- endif -%}

        <div class="">
            <label for="password" class="block mb-2  font-semibold" >
                {{ 'customer.activate_account.password' | t }}
            </label>
            <input type="password" name="customer[password]"  autocomplete="new-password" class="w-full p-2 mb-4 border-2 border-gray-300 "
                 {% if form.errors contains 'password' %}
                aria-invalid="true" aria-describedby="password-error" {% endif %}>
            
            {%- if form.errors contains 'password' -%}
            <small class="">
                {{ form.errors.translated_fields.password | capitalize }}
                {{ form.errors.messages.password }}
            </small>
            {%- endif -%}
        </div>

        <div class="">
            <label for="password_confirmation" class="block mb-2  font-semibold">
                {{ 'customer.activate_account.password_confirm' | t }}
            </label>

            <input type="password" name="customer[password_confirmation]"class="w-full p-2 mb-4 border-2 border-gray-300 "
                autocomplete="new-password" class="w-full p-2 mb-4 border-2 border-gray-300 "  {% if
                form.errors contains 'password' %} aria-invalid="true" aria-describedby="password_confirmation-error" {%
                endif %}>
            
            {%- if form.errors contains 'password_confirmation' -%}
            <small class="">
                {{ form.errors.translated_fields.password_confirmation | capitalize }}
                {{ form.errors.messages.password_confirmation }}
            </small>
            {%- endif -%}
        </div>

        <button class="w-full text-white bg-black py-3 px-5 font-semibold">
            {{ 'customer.activate_account.submit' | t }}
        </button>
        <div class="text-center my-4 flex items-center">
            <div class="flex-1 border-t border-gray-400"></div>
            <span class="mx-4 text-black font-semibold">or</span>
            <div class="flex-1 border-t border-gray-400"></div>
          </div>
        <button name="decline"   class="w-full text-black py-3 px-5 border-2  font-semibold">
            {{ 'customer.activate_account.cancel' | t }}
        </button>
        {%- endform -%}
    </div>
</div>