<script src="{{ 'customer.js' | asset_url }}" defer></script>


{%- paginate customer.addresses by 5 -%}
<div class="flex items-center justify-center  text-black">
    <div class="customer addresses w-full max-w-md p-8 rounded" data-customer-addresses>
        <svg style="display: none">
            <symbol id="icon-caret" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                    fill="currentColor">
            </symbol>
        </svg>
        <div class="">

            <h1 class="text-5xl font-bold mb-6 text-center">{{ 'customer.addresses.title' | t }}</h1>
            <div class=" flex items-center justify-center mt-3">
                <span class="mr-2">
                    <a href="{{ routes.account_url }}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20"
                            viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path
                                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                        </svg>
                    </a>

                </span>
                <a href="{{ routes.account_url }}" class="text-xl font-semibold  ">
                    {{ 'customer.account.return' | t }}
                </a>
            </div>
            <div data-address>
                <div class="flex justify-center items-center ">
                    <button type="button" aria-expanded="false" aria-controls="AddAddress"
                        class="w-50 text-center text-black py-3 px-5 border-2 mt-4 font-bold ">
                        {{ 'customer.addresses.add_new' | t }}
                    </button>
                </div>

                <h2 id="AddressNewHeading" class="font-semibold mt-8 text-xl">{{ 'customer.addresses.add_new' | t }}
                </h2>
                {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                    
                <label for="AddressFirstNameNew" class="block mb-2 font-semibold">{{ 'customer.addresses.first_name' | t
                    }}</label>

                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}"
                    autocomplete="given-name" class="w-full p-2 mb-4 border-2 border-gray-300" required>
                {%endform%}
            </div>

        </div>



    </div>
</div>
<script>
    window.addEventListener('load', () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    });
</script>
{%- endpaginate -%}